<a href="https://colab.research.google.com/github/DivyeshAgarwaliitg21/Coding-Week-22-Opensource-Tasks/blob/main/Capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import sklearn

In [55]:
df=pd.read_csv("train.csv")
df=df.rename(columns={'Offer %': 'offer'})
df.head(n=2)

,id,title,Rating,maincateg,platform,price1,actprice1,offer,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,16695,Fashionable & Comfortable Bellies For Women (...,3.9,Women,Flipkart,698,999,30.13%,38.0,7.0,17.0,9.0,6.0,3,3,0
1,5120,Combo Pack of 4 Casual Shoes Sneakers For Men ...,3.8,Men,Flipkart,999,1999,50.03%,531.0,69.0,264.0,92.0,73.0,29,73,1

In [27]:
df.columns

Index(['id', 'title', 'Rating', 'maincateg', 'platform', 'price1', 'actprice1',
       'offer', 'norating1', 'noreviews1', 'star_5f', 'star_4f', 'star_3f',
       'star_2f', 'star_1f', 'fulfilled1'],
      dtype='object')

In [72]:
for i in df.columns:
  print(i,df[i].isna().sum())

id 0
title 0
rating 0
maincateg 526
platform 0
price1 0
actprice1 0
offer 0
norating1 678
noreviews1 578
588
539
231
id 0
title 0
Rating 0
maincateg 526
platform 0
price1 0
actprice1 0
offer 0
norating1 678
noreviews1 578
star_5f 588
star_4f 539
star_3f 231
star_2f 0
star_1f 0
fulfilled1 0

In [57]:
df2=df.dropna(subset=['maincateg'])
df.fillna(subset=[''])

In [58]:
df2.head(n=42)

,id,title,Rating,maincateg,platform,price1,actprice1,offer,norating1,noreviews1,star_5f,star_4f,star_3f,star_2f,star_1f,fulfilled1
0,16695,Fashionable & Comfortable Bellies For Women (...,3.9,Women,Flipkart,698,999,30.13%,38.0,7.0,17.0,9.0,6.0,3,3,0
1,5120,Combo Pack of 4 Casual Shoes Sneakers For Men ...,3.8,Men,Flipkart,999,1999,50.03%,531.0,69.0,264.0,92.0,73.0,29,73,1
2,18391,Cilia Mode Leo Sneakers For Women (White),4.4,Women,Flipkart,2749,4999,45.01%,17.0,4.0,11.0,3.0,2.0,1,0,1
3,495,Men Black Sports Sandal,4.2,Men,Flipkart,518,724,15.85%,46413.0,6229.0,1045.0,12416.0,5352.0,701,4595,1
4,16408,Men Green Sports Sandal,3.9,Men,Flipkart,1379,2299,40.02%,77.0,3.0,35.0,21.0,7.0,7,7,1
5,2692,Women Pink Flats Sandal,4.1,Women,Flipkart,359,499,28.06%,274.0,25.0,153.0,49.0,34.0,15,23,0
6,3236,Women Navy Heels Sandal,4.0,Women,Flipkart,499,999,50.05%,249.0,31.0,130.0,52.0,27.0,9,28,1
7,14633,Women Blue Wedges Sandal,3.9,Women,Flipkart,209,1299,83.91%,121.0,17.0,63.0,25.0,14.0,9,12,0
8,1872,Sneakers For Women (Pink),4.2,Women,Flipkart,549,999,45.05%,191.0,30.0,120.0,25.0,31.0,7,12,1
9,1668,"Men Black, Beige Sandal",4.1,Men,Flipkart,809,899,10.01%,36126.0,5028.0,18688.0,9899.0,3709.0,1272,2558,0
10,12634,TEMPO Men's Combo Pack of 3 Synthetic Loafers ...,3.3,Men,Amazon,999,999,0.00%,222.0,147.0,26.0,4.0,18.0,15,37,1
11,19065,Women Gold Heels Sandal,4.0,Women,Flipkart,599,1299,53.89%,22.0,3.0,12.0,3.0,4.0,1,2,1
12,17455,Flip Flops,4.1,Women,Flipkart,299,599,50.08%,41.0,9.0,19.0,13.0,5.0,3,1,1
13,7526,Slippers,4.4,Women,Flipkart,599,1199,50.04%,101.0,16.0,68.0,20.0,5.0,5,3,1
14,15555,adilette CF+ logo Slides,4.5,Men,Flipkart,1979,3599,45.01%,141.0,12.0,98.0,25.0,8.0,4,6,1
15,18031,"Men Black, Blue Sports Sandal",4.2,Men,Flipkart,999,1999,50.03%,732.0,99.0,378.0,230.0,70.0,24,30,1
16,9354,Men Tan Sandal,4.0,Men,Flipkart,379,999,62.06%,138.0,24.0,68.0,30.0,16.0,14,10,0
17,17732,Perfect Stylish Girls High Ankle Boots For Wom...,4.2,Women,Flipkart,399,999,60.06%,9305.0,1619.0,5660.0,1711.0,921.0,319,694,1
18,4549,Perfect Stylish Girls Casual Shoes Sneakers Fo...,3.9,Women,Flipkart,399,999,60.06%,1353.0,202.0,698.0,258.0,174.0,77,146,0
20,2917,170 Smart Grey Lace-Ups Casuals for Men Sneake...,4.0,Men,Flipkart,236,499,52.71%,26934.0,2952.0,14756.0,4291.0,3068.0,1693,3126,1
21,7379,Women Multicolor Flats Sandal,3.6,Women,Flipkart,175,499,64.93%,569.0,63.0,249.0,97.0,74.0,49,100,1
22,10536,Stylish Flat Mules for women Bellies For Women...,4.0,Women,Flipkart,225,699,67.81%,2270.0,318.0,1117.0,536.0,305.0,130,182,1
23,18886,crocs Unisex's Clogs,4.7,Women,Amazon,1596,1607,0.68%,8.0,4.0,0.0,0.0,0.0,30,70,0
24,2193,GO WALK JOY-CENTERPIECE Walking Shoes For Wome...,4.4,Women,Flipkart,3009,4299,30.01%,215.0,14.0,142.0,43.0,15.0,3,12,1
25,15609,flip-flops slipper for men Flip Flops,4.0,Men,Flipkart,199,599,66.78%,3615.0,299.0,2155.0,441.0,352.0,206,461,1
26,17976,Flip Flops,4.1,Women,Flipkart,249,399,37.59%,33.0,6.0,17.0,9.0,2.0,4,1,0
27,19308,Boots For Women (Brown),4.2,Women,Flipkart,599,999,40.04%,10.0,0.0,6.0,2.0,1.0,0,1,1
28,970,Intraflux M Running Shoes For Men (Grey),4.1,Men,Flipkart,2165,3880,45.01%,216.0,31.0,176.0,44.0,21.0,8,1,1
29,13094,Women Black Flats Sandal,4.1,Women,Flipkart,831,1695,50.97%,14.0,0.0,7.0,4.0,1.0,1,1,1
30,17412,Trendy Look Up Jeans And Kurta Pajama/Syntheti...,3.8,Men,Flipkart,499,999,50.05%,21.0,4.0,13.0,2.0,0.0,0,6,0
31,10916,Jutis For Women (Multicolor),4.1,Women,Flipkart,399,999,60.06%,180.0,23.0,100.0,32.0,22.0,10,16,0
32,17709,Fila Men's Bryant Sneakers,3.7,Men,Amazon,564,1597,64.68%,79.0,40.0,15.0,11.0,10.0,20,44,1
33,10946,Jutis For Women (Pink),3.9,Women,Flipkart,199,499,60.12%,369.0,46.0,197.0,50.0,54.0,25,43,0
34,10528,Bouncer-01 Running shoes for boys | sports sho...,4.1,Men,Flipkart,759,999,24.02%,11780.0,1748.0,6343.0,2501.0,1268.0,644,1024,1
35,14244,Walking Shoes For Men (Grey),4.0,Men,Flipkart,782,999,21.72%,3180.0,475.0,1596.0,705.0,380.0,162,337,1
36,10780,Canvas Shoes For Men (Red),4.0,Men,Flipkart,658,999,34.13%,1695.0,266.0,891.0,359.0,204.0,65,176,0
37,9992,FASHION SHOE Loafers For Men (Brown),4.3,Men,Flipkart,400,999,59.96%,18.0,3.0,11.0,5.0,0.0,1,1,1
39,2851,Women Black Heels Sandal,4.0,Women,Flipkart,468,1499,68.78%,550.0,103.0,283.0,120.0,72.0,27,48,0
40,10752,Women's/Ladies/Female/Girls Lightweight Comfor...,4.4,Women,Flipkart,525,999,47.45%,5.0,0.0,3.0,1.0,1.0,0,0,0
41,4430,Slippers,3.6,Men,Flipkart,219,349,37.25%,16140.0,1926.0,6538.0,2868.0,2580.0,1442,2712,0
42,19439,Women Yellow Flats Sandal,4.5,Women,Flipkart,899,1499,40.03%,69.0,5.0,42.0,21.0,5.0,2,0,1
43,1371,Women Red Heels Sandal,4.2,Women,Flipkart,1599,1699,5.89%,1399.0,263.0,884.0,240.0,119.0,36,120,0